[Unit]
Description=Check ACME/Let's encrypt certificates daily and renew them if necessary

[Timer]
OnCalendar=daily
Persistent=true
AccuracySec=1h

[Install]
WantedBy=timers.target